@import "materialize-css/dist/css/materialize.min.css";

/* :root {
  --md-ref-typeface-brand: 'Montserrat';
  --md-ref-typeface-plain: 'Open Sans';
} */
.home {
    padding:16px;
    background-color: #fff3ef;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    .img {
        width: 100%;
        height: 100%;
    }
    .titleSection {
        display: flex;
        justify-content: space-between;
        .left {
            padding: 16px;
            width: 75%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 16px;
            .sarah {
                .avatar {
                    align-self: center;
                }
                display: flex;
                gap: 40px;
                text-align: center;
                align-items: center;
                justify-content: center;
                font-family: "Modern No. 20", "Modern No 20", serif;
            }
            .jobTitle {
                font-size: 18px;
                text-align: left;
            }
        }
        .right {
            width: 25%;
        }
    }
    .about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .img {
            width: 35%;
        }
        .aboutText {
            padding: 40px;
            font-size: 20px;
            width: 75%;
        }
    }
    @media (max-width: 600px) {
        .titleSection {
            flex-direction: column;
            align-items: center;
            .left {
                width: 100%;
                align-items: center;
                .sarah {
                    flex-direction: column;
                    h1 {
                        font-size: 2rem;
                    }
                }
                .jobTitle {
                    text-align: center;
                }
            }
            .right {
                width: 60%;
            }
        }
        .about {
            flex-direction: column;
            .img {
                width: 80%;
            }
            .aboutText {
                width: 100%;
                padding: 16px 0;
            }
        }
    }
    .workExperience ul {
        list-style-type: disc;
        padding-left: 24px;
        color: black;
    }
    .workExperience ul li {
        list-style-type: disc;
    }
    .workExperience ul li::marker {
        color: black;
    }
}
